:root {
  --gray: #545454;
  --black: #000000;
  --blue: #5551FF;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.hero {
  block-size: 350px;
  background-image: linear-gradient(274.51deg, rgba(74, 0, 224, 0.6) 5%, rgba(142, 45, 226, 0.5) 130.61%), url('../images/patron.png');
  background-repeat: repeat;
  background-size: cover, 50px 50px;
  /* background-position: center top; */
  margin-block-end: 65px;
}

.wrapper {
  /* border: 1px solid red; */
  max-inline-size: 903px;
  margin-inline-start: 116px;
}

.header {
  position: sticky;
  inset-block-start: 0;
}

.header-content {
  /* border: 1px solid blue; */
  position: relative;
}

.header header {
  position: absolute;
  inline-size: 185px;
  inset-inline-start: 927px;
}

.header p {
  margin-block-start: 0;
  margin-block-end: 16px;
  font-size: 12px;
  line-height: 24px;
  color: var(--black);
  text-transform: uppercase;

}

.header summary {
  margin-block-start: 0;
  margin-block-end: 16px;
  font-size: 14px;
  font-weight: 700;
}

.header ol {
  margin-block: 0;
  padding-inline-start: 0;
  /* border: 1px solid red; */
}

.header li {
  margin-block-start: 0;
  margin-block-end: 8px;
  padding: 8px;
  list-style: none;
  font-size: 14px;
  /* border: 1px solid blue; */
  line-height: 24px;
}

.header li:hover {
  background: var(--blue);
}

.header li:hover a {
  color: white;
}

.header a {
  text-decoration: none;
  color: var(--black);
}

.main-content {
  text-align: center;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 16px;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 40px;
  font-size: 32px;
  line-height: 38px;
  font-weight: normal;
}

.section-content h3 {
  margin-block: 16px;
  font-size: 24px;
  font-weight: normal;
  counter-increment: titleList;
}

.section-content h3::before {
  content: counter(titleList)'. ';
}

p {
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
  margin-block-start: 0;
  margin-block-end: 40px;
}

hr {
  margin-block: 64px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.section-content blockquote {
  inline-size: 615px;
  margin: 0 auto;
  margin-block: 64px;
  border-inline-start: 4px solid var(--blue);
  padding-inline-start: 16px;
  letter-spacing: 0px;
}

.section-content blockquote p {
  color: var(--black);
  font-size: 24px;
  margin: 0;
  text-align: start;
  line-height: 32px;
}

.section-content blockquote p:first-of-type {
  margin-block-end: 16px;
}

pre {
  margin-block-end: 40px;
  padding: 40px;
  text-align: start;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 24px;
  border: 8px solid var(--blue);
  border-radius: 8px;
  box-shadow: -10px 10px 0px 0px #ABAAF6;
}

.box-model h3,
.form h3 {
  margin-block-start: 40px;
  margin-block-end: 16px;
  font-size: 24px;
  font-weight: normal;
}

.box-model ol,
.box-model ul {
  padding-inline-start: 16px;
}

.box-model ul {
  list-style: none;
}
.box-model ul li::before {
  content: "";
  display: inline-block;
  inline-size: 8px;
  block-size: 8px;
  border-radius: 50%;
  background: var(--blue);;
  margin-inline-start: -15px;
  margin-inline-end: 16px;
}

.box-model li {
  margin-block-end: 16px;
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
}

.slider-container {
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
  /* margin-block-end: 16px; */
  /* font-size: 0; */
  /* border: 1px solid red; */
}

.slider-slide {
  /* border: 1px solid red; */
}

.video{
  margin: 0;
  /* margin-block-start: 16px; */
  display: inline-block;
  inline-size: 100%;
  /* block-size: 464px; */
  block-size: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list {
  text-align: center;
  margin-block-start: 16px;
}

.bullet-list {
  display: inline-block;
  inline-size: 16px;
  block-size: 16px;
  border-radius: 50%;
  background: rgba(142, 45, 226, 0.5);
}

.bullet-list:hover {
  background: var(--blue);
}

.contact-us {
  text-align: start;
  margin-block: 40px;
}

.form {
  text-align: start;
  font-size: 0;
  margin-block-end: 115px;
}

.form input {
  inline-size: 280px;
  block-size: 48px;
  padding-block: 12px;
  padding-inline: 16px;
  box-sizing: border-box;
  border-radius: 90px;
  border: 1px solid #000000;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

/* .form form input::-webkit-input-placeholder {
  color: #000000;
} */

input[type="text"] {
  margin-inline-end: 16px;
}

input[type="submit"] {
  inline-size: 126px;
  background: var(--blue);
  color: white;
  border: none;
  position: relative;
  margin-inline-start: -64px;
}

.footer {
  background: var(--black);
  padding-block: 48px;
}

.footer-content {
  border: 1px solid red;
  inline-size: 378px;
  margin: 0 auto;
  text-align: center;
}

.footer-content p {
  font-size: 32px;
  margin-block-end: 16px;
  color: white;
}

