:root {
  --gray: #545454;
  --black: #000000;
  --blue: #5551FF;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

.hero {
  block-size: 350px;
  background-image: linear-gradient(274.51deg, rgba(74, 0, 224, 0.6) 5%, rgba(142, 45, 226, 0.5) 130.61%), url('../images/patron.png');
  background-repeat: repeat;
  background-size: cover, 50px 50px;
  /* background-position: center top; */
  margin-block-end: 65px;
}

.wrapper {
  /* border: 1px solid red; */
  max-inline-size: 903px;
  margin-inline-start: 116px;
}

.header {
  position: sticky;
  inset-block-start: 0;
}

.header-content {
  /* border: 1px solid blue; */
  position: relative;
}

.header header {
  position: absolute;
  inline-size: 185px;
  inset-inline-start: 927px;
}

.header p {
  margin-block-start: 0;
  margin-block-end: 16px;
  font-size: 12px;
  line-height: 24px;
  color: var(--black);
  text-transform: uppercase;

}

.header summary {
  margin-block-start: 0;
  margin-block-end: 16px;
  font-size: 14px;
  font-weight: 700;
}

.header ol {
  margin-block: 0;
  padding-inline-start: 0;
  /* border: 1px solid red; */
}

.header li {
  margin-block-start: 0;
  margin-block-end: 8px;
  padding: 8px;
  list-style: none;
  font-size: 14px;
  /* border: 1px solid blue; */
  line-height: 24px;
}

.header li:hover {
  background: var(--blue);
}

.header li:hover a {
  color: white;
}

.header a {
  text-decoration: none;
  color: var(--black);
}

.main-content {
  text-align: center;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 16px;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 40px;
  font-size: 32px;
  line-height: 38px;
  font-weight: normal;
}

h3 {
  margin-block: 16px;
  font-size: 24px;
  font-weight: normal;
  counter-increment: titleList;
}

h3::before {
  content: counter(titleList)'. ';
}

p {
  font-size: 16px;
  line-height: 24px;
  color: var(--gray);
  margin-block-start: 0;
  margin-block-end: 40px;
}

hr {
  margin-block: 64px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}